<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}"/>

  </head>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="#findjob">Find Jobs</a></li> -->
          <li><a class="nav-link scrollto" href="#team">Team</a></li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register_user' %}">Register</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>